<!DOCTYPE html>
<html>
<head>
    <title>Appunti</title>
    <style>
    div {
        border: 2px solid #aa00ff;
        margin-bottom: 10px;
        }
    </style>
</head>
<body>
        <div>
        <a href="/">Home</a>
        <!-- da mettere il controllo della utenticazione -->
        {% if true %}
        
            <a href="/">Dashboard</a>
            <a href="/students">mostra studenti</a>
            <a href="/">Logout</a>
        {% else %}
            <a href="/">Login</a>
            <a href="/">Registrati</a>
        {% endif %}
        </div>
    <hr>

    {% block content %}{% endblock %}
</body>
</html>