<!DOCTYPE html>
<html>
<head>
    <title>Appunti</title>
    <style>
    div {
        border: 1px solid #aa00ff;
        margin-bottom: 10px;
    }
    hr {
        border-color: rgb(81, 0, 97);
    }
    nav {
        position: relative;
    }
    </style>
</head>
<body>
<table border="1" cellpadding="10" cellspacing="0" style="border-color:#4b0070; margin-bottom:20px;">
    <tr>
        <td><a href="{{ url_for('main.index') }}">Home</a></td>
        <td><a href="{{ url_for('main.all_students') }}">Mostra studenti</a></td>
        <td><a href="{{ url_for('main.logout') }}">Logout</a></td>
        <td><a href="{{ url_for('main.login') }}">Login</a></td>
        <td><a href="{{ url_for('main.sign') }}">Registrati</a></td>
        <td><a href="{{ url_for('main.c_note') }}">Crea Nota</a></td>
    </tr>
</table>
    {% if username %}
        <p>BENVENUTO: {{username}} TODO mettere nella nav bar e far vedere solo se si ha l'accesso</p>
    {% endif %}
    <hr>

    {% block content %}{% endblock %}
</body>
</html>