{% extends 'base.html' %}

{% block content %}
<h1>Crea una nuova nota</h1>
<hr>
<form id="c_note" method="post" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <br>
    <input type="text" id="title" name="title">
    <br>

    <label for="subject">subject:</label>
    <br>
    <select id="subject" name="subject">
        {% for subject in subjects %}
            <option value="{{ subject.id }}">
                {{ subject.nome_materia }}
            </option>
        {% endfor %}
    </select>

    <br>

    <label for="file">File:</label>
    <br>
    <input type="file" id="file" name="file" >

    <button type="submit">crea</button>   
</form>

<br>
<hr>

<form id="c_subject" method="post" enctype="multipart/form-data">
    <lable for="aggiugi_subject">Crea una materia personalizzata:</lable>
    <input type="text" name="aggiugi_subject" id="aggiugi_subject">
    <button type="submit">crea materia nuova</button>
</form>
{% endblock %}