{% extends 'base.html' %}
{% block content %}
<h1><i>About myself...</i></h1>

<h2>Introduction</h2>
    My name is Marco Arlotti, i'm the creator of this site.<br>
    This was a project assined by my professor Angelo Galanti,<br>
    The final and the biggest progect so far.<br>
<br>
    <h2>Other projects</h2>
<br>
    I started my IT study lerning simple comands in python,<br>
    it was so fun that in that period i decided to invest 2 month during school days for starting my first project,<br>
    it was a basic JRPG maded in python at that time i didn't known that OOP existed, so basicaly it was literaly hell.<br>
    The project used a terminal (the CMD of windoes) as a interface,<br>
    the project was a success and it was the best of the class, making me achive a grade of 10 that i never even dreamed of achive.<br>
    The following year i did a remake using OOP, the time was more strict creating a difficulter challenge.<br>
<br>
    <h2>My IT roots</h2>
    I decide to study IT because like others i like video games and i have dreamed of having a PC,<br>
    the more i used slow and orrible laptop the more i becamed skilled in optimization and tweking,<br>
<br>
    This year is the last, cocluding it with the creation of a site, the site is nothing in particular,<br>
    even if the site is barebone it create a difficult challenge, i have discovered how to verify a login, a form, all the logics of databases...<br>
    thanks to that i improved my skills in:<br>



<!-- AI correction to check-->
My name is Marco Arlotti, i'm the creator of this site.<br>
This was a project assigned by my professor Angelo Galanti.<br>
The final and biggest project so far.<br>

<h2>Other projects</h2>

I started my IT studies learning simple commands in Python,<br>
it was so fun that during that period I decided to invest 2 months, even <br>
during school days, for starting my first project,<br>
it was a basic JRPG made in Python at that time I didn't know that OOP <br>
existed, so basically it was literally hell.<br>

The project used a terminal (the Command Prompt of Windows) as an <br>
interface,<br>
the project was a success and it was the best of the class, making me <br>
achieve a grade of 10 which I never even dreamed of achieving.<br>

The following year I did a remake using OOP, the time was more strict <br>
creating a more difficult challenge.<br>

<h2>My IT roots</h2>
I decided to study IT because like others I like video games and I have <br>
always dreamed of having a PC,<br>
the more I used slow and terrible laptops, the more I became skilled in <br>
optimization and tweaking,<br>

This year is my last one, concluding it with the creation of this site, <br>
which is nothing in particular,<br>
even if the site is bare-bones it created a difficult challenge for me becouse i had 0 expirience of it,<br>
I learned by myself how to verify a login, a form, all the logics of databases...<br>
thanks to that I improved my skills in:<br>
<ul>
    <li>HTML,</li>
    <li>CSS,</li>
    <li>JS (the bare minimun),</li>
    <li>XML/XSD,</li>
    <li>new skill for elegant Markdown,</li>
    <li>python (Flask).</li>
</ul>
<br>
<h2>My opinion on the school</h2>
This year was the harder, there it was entire week of exams one directly after another.<br>
Our class with the new professors,<br>
we had to study entire chapters and entire subjects alone, like being at university.<br>
<br>
But finaly we are near the end this wave of exams and the complete conclusion of school.<br>
<br><br>
<h2>What after?</h2>
I chose to continue to university for the opportunity of learn new programming languages differents than python,<br>
that being our first and only language studied we didn't do some arguments regarding array like other classes.<br>
<h1>TODO CHECK FOR ERROR AND ADD TEXT</h1>
In the future i will try to crete even a videogame not to make money but to create a fun game, achiving fun like how i started on a JRPG in a simple interface text based.<br>
<img src="/static/aura_farming.gif" alt="foto dello sviluppatore solo e unico Arlo">
{% endblock %}
