{% extends 'base.html' %}
{% block content %}
<div class="center-block2">
    <i><b></b><h1>ARLOTTI MARCO</h1></i>
</div>

<div class="center-block">
    <hr>
    <h2 class="aura">About myself</h2>
    My name is Marco Arlotti, i'm the creator of this site. <br>
    This was a project assigned by my professor Angelo Galanti. <br>
    The final and biggest project so far. <br>
    <br>
    <h2>Other projects</h2>
    I started my IT studies learning simple commands in Python,
    during that period I decided to invest 2 months 
    during school days for a project of our choice as assingment, for starting my first project,
    it was a basic JRPG made in Python at that time I didn't know that OOP 
    existed, so basically it was literally hell. <br>
    <br>
    The project used a terminal (the Command Prompt of Windows) as an 
    interface,
    the project was a success and it was the best of the class, making me 
    achieve a grade of 10 which I never even dreamed of achieving. <br>
    <br>
    The following year I did a remake using OOP, the time was more strict 
    creating a more difficult challenge. <br>
    <br>
    This year is my last one, concluding it with the creation of this site, 
    which is nothing in particular,
    even if the site is bare-bones it created a difficult challenge for me becouse i had 0 expirience of it,
    I learned by myself how to verify a login, a form, all the logics of databases... <br>
    thanks to that I improved my skills in:
    <ul>
        <li>HTML,</li>
        <li>CSS,</li>
        <li>JS (the bare minimun),</li>
        <li>XML/XSD,</li>
        <li>new skill for elegant Markdown,</li>
        <li>python (Flask).</li>
    </ul>
    <h2>My IT roots</h2>
    I decided to study IT because like others I like video games and I have 
    always dreamed of having a PC,
    the more I used slow and terrible laptops, the more I became skilled in 
    optimization and tweaking,
    <br>
    <h2>My opinion on the school</h2>
    This year was the harder, there it was entire week of exams one directly after another. <br>
    Our class with the new professors,
    we had to study entire chapters and entire subjects alone, like being at university. <br>
    <br>
    But finaly we are near the end this wave of exams and the complete conclusion of school. <br>
    <br><br>
    <h2>What after?</h2>
    I chose to continue to university for the opportunity of learn new programming languages differents than python,
    that being our first and only language studied we didn't do some arguments regarding array like other classes. <br>
    In the future i will try to crete even a videogame not to make money but to create a fun game, achiving the fun part of developing it like how i started on a JRPG,
    but i know i won't be easy. <br>
    <br>
    <hr>
</div>
<div class="center-block2">
    <h1>Where you can find me</h1>
</div>
<div class="center-block2">
    <br>
    <img style="border-radius: 50%; object-fit: cover; height: auto; width: 10%;" src="static/foto_privata.gif" alt="immagine profilo">
    <b><p><a href="https://github.com/Signor-Gatt0">MY PERSONAL GITHUB</a></b></p>
    <br>
    <br>
    <img style="border-radius: 50%; object-fit: cover; height: auto; width: 10%; height: auto; width: 10%;" src="static/foto_account_scolastico.gif" alt="immagine profilo">
    <b><p><a href="https://github.com/MarcoArlotti/">MY SCHOOL GITHUB</a></b></p>
    <br>
    <b><p>ALL THE LANGUAGES I LERNED SO FAR</p></b>
    <i>
        PYTHON <img style="height: auto; width: 5%;" src="static/py.png" alt="immagine profilo">,<br><br>
        HTML <img style="height: auto; width: 5%;" src="static/html.png" alt="immagine profilo">,<br><br>
        CSS <img style="height: auto; width: 5%;" src="static/css.png" alt="immagine profilo">,<br><br>
        JAVASCRIPT <img style="height: auto; width: 5%;" src="static/js.png" alt="immagine profilo">,<br><br>
        XML/XSD <img style="height: auto; width: 5%;" src="static/xml.png" alt="immagine profilo">,<br><br>
        JSON <img style="height: auto; width: 5%;" src="static/json.png" alt="immagine profilo">,<br><br>
        YAML <img style="height: auto; width: 5%;" src="static/yaml.png" alt="immagine profilo">,<br><br>
        FLASK <img style="height: auto; width: 5%;" src="static/flask.png" alt="immagine profilo">,<br><br>
        SQL <img style="height: auto; width: 5%;" src="static/sql.png" alt="immagine profilo">,<br><br>
    </i>
</div>

<img src="/static/aura_farming.gif" alt="foto dello sviluppatore solo e unico Arlo">
{% endblock %}
