{% extends 'base.html' %}

{% block content %}
<h1>HOMEPAGE</h1>

<h4>Filter settings</h4>
<form id="ricerca">
    <label for="title">by note:</label>
    <input name="title" placeholder="insert title">
    
    <label for="title">by subject:</label>
    <input name="title" placeholder="insert title">

    <label for="author">by author:</label>
    <input name="author" placeholder="insert author name">

    <label for="data_from">from:</label>
    <input type="date" name="data_from">

    <label for="data_to">to:</label>
    <input type="date" name="data_to">

    <button type="submit" id="filter">Filter by</button>
</form>
<hr>
{% for note in notes %}
    <div> 
        <p>author:<a href="{{ url_for('main.specific_student', id=note.student_id) }}"> {{note.username}}</a></p>
        <p>note title:<a href="{{ url_for('main.specific_note', id=note.id) }}"> {{note.title}}</a></p>
        {{ note.data_upload }}<br>
    </div>
    <hr>

{% endfor %}

{% endblock %}